<a href="https://colab.research.google.com/github/sharat2000/SHARAT-RAJ/blob/main/UNIV_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train_data=pd.read_csv('/content/drive/MyDrive/UNIV.AI/Training Data.csv')
test_data=pd.read_csv('/content/drive/MyDrive/UNIV.AI/Test Data.csv')

In [ ]:
print(train_data.shape)
print(test_data.shape)

(252000, 13)
(28000, 12)

In [ ]:
train_data.sample(10)

            Id   income  age  ...  current_job_years current_house_years risk_flag
50925    50926  3009196   65  ...                  9                  11         0
197355  197356  7583518   28  ...                  4                  11         1
131703  131704  6036833   25  ...                 11                  12         0
185359  185360  1047915   23  ...                  4                  11         1
69246    69247  8162148   35  ...                 11                  13         0
112150  112151  6191553   68  ...                 13                  14         1
46974    46975   340310   70  ...                  7                  13         0
228434  228435  5240713   58  ...                  7                  13         0
219477  219478  7514095   54  ...                  6                  14         0
142458  142459  3463312   76  ...                  2                  10         0

[10 rows x 13 columns]

In [ ]:
test_data.sample(50)

In [ ]:
s='Pimpri-Chinchwad'
import re

In [ ]:
s.split()

['Pimpri-Chinchwad']

In [ ]:
'_'.join(s.split())

'Pimpri-Chinchwad'

In [ ]:
a=test_data['city']
A=[]
for k in a:
  A.append('_'.join(k.split()))

In [ ]:
b=test_data['profession']
B=[]
for l in b:
  B.append('_'.join(l.split()))

In [ ]:
test_data['profession']=B

In [ ]:
test_data['profession']

In [ ]:
test_data['city']=A

In [ ]:
c=test_data['state']
C=[]
for m in c:
  C.append('_'.join(m.split()))

In [ ]:
test_data['state']=C

In [ ]:
test_data['state']

0           West_Bengal
1           Maharashtra
2           Maharashtra
3           Maharashtra
4           West_Bengal
              ...
27995    Andhra_Pradesh
27996    Madhya_Pradesh
27997       Maharashtra
27998      Chhattisgarh
27999       Maharashtra
Name: state, Length: 28000, dtype: object

In [ ]:
test_data['city'].sample(50)

In [ ]:
train_data[train_data['city']=='Hubliâ€“Dharwad'].value_counts()

In [ ]:
train_data.nunique()

In [ ]:
train_data['city'].sample(50)

In [ ]:
train_data.describe()

                  Id        income  ...  current_house_years      risk_flag
count  252000.000000  2.520000e+05  ...        252000.000000  252000.000000
mean   126000.500000  4.997117e+06  ...            11.997794       0.123000
std     72746.278255  2.878311e+06  ...             1.399037       0.328438
min         1.000000  1.031000e+04  ...            10.000000       0.000000
25%     63000.750000  2.503015e+06  ...            11.000000       0.000000
50%    126000.500000  5.000694e+06  ...            12.000000       0.000000
75%    189000.250000  7.477502e+06  ...            13.000000       0.000000
max    252000.000000  9.999938e+06  ...            14.000000       1.000000

[8 rows x 7 columns]

In [ ]:
train_data['married'].value_counts()

single     226272
married     25728
Name: married, dtype: int64

In [ ]:
train_data['house_ownership'].value_counts()

rented          231898
owned            12918
norent_noown      7184
Name: house_ownership, dtype: int64

In [ ]:
train_data['car_ownership'].value_counts()

no     176000
yes     76000
Name: car_ownership, dtype: int64

In [ ]:
train_data['profession'].value_counts()

Physician                     5957
Statistician                  5806
Web_designer                  5397
Psychologist                  5390
Computer_hardware_engineer    5372
Drafter                       5359
Magistrate                    5357
Fashion_Designer              5304
Air_traffic_controller        5281
Comedian                      5259
Industrial_Engineer           5250
Mechanical_engineer           5217
Chemical_engineer             5205
Technical_writer              5195
Hotel_Manager                 5178
Financial_Analyst             5167
Graphic_Designer              5166
Flight_attendant              5128
Biomedical_Engineer           5127
Secretary                     5061
Software_Developer            5053
Petroleum_Engineer            5041
Police_officer                5035
Computer_operator             4990
Politician                    4944
Microbiologist                4881
Technician                    4864
Artist                        4861
Lawyer                        4818
Consultant                    4808
Dentist                       4782
Scientist                     4781
Surgeon                       4772
Aviator                       4758
Technology_specialist         4737
Design_Engineer               4729
Surveyor                      4714
Geologist                     4672
Analyst                       4668
Army_officer                  4661
Architect                     4657
Chef                          4635
Librarian                     4628
Civil_engineer                4616
Designer                      4598
Economist                     4573
Firefighter                   4507
Chartered_Accountant          4493
Civil_servant                 4413
Official                      4087
Engineer                      4048
Name: profession, dtype: int64

In [ ]:
train_data['state'].value_counts()

Uttar_Pradesh        29143
Maharashtra          25562
Andhra_Pradesh       25297
West_Bengal          23483
Bihar                19780
Tamil_Nadu           16537
Madhya_Pradesh       14122
Karnataka            11855
Gujarat              11408
Rajasthan             9174
Jharkhand             8965
Haryana               7890
Telangana             7524
Assam                 7062
Kerala                5805
Delhi                 5490
Punjab                4720
Odisha                4658
Chhattisgarh          3834
Uttarakhand           1874
Jammu_and_Kashmir     1780
Puducherry            1433
Manipur                849
Mizoram                849
Himachal_Pradesh       833
Tripura                809
Chandigarh             656
Sikkim                 608
Name: state, dtype: int64

In [ ]:
train_data['state'].replace('Uttar_Pradesh[5]','Uttar_Pradesh',inplace=True)

In [ ]:
train_data['Prior experience']=train_data['experience']-train_data['current_job_years']

In [ ]:
plt.figure(figsize=(12,8))
plt.subplot(3,2,1)
sns.boxplot(train_data['income'])
plt.subplot(3,2,2)
sns.boxplot(train_data['age'])
plt.subplot(3,2,3)
sns.boxplot(train_data['experience'])
plt.subplot(3,2,4)
sns.boxplot(train_data['current_job_years'])
plt.subplot(3,2,5)
sns.boxplot(train_data['current_house_years'])
plt.show()

NameError: ignored

In [ ]:
train_data['income']=np.power((np.power(train_data['income']/1000000,4)),1/1000)

In [ ]:
train_data['age']=np.power((np.power(train_data['age']/100,100)),1/1000)

In [ ]:
train_data['experience']=np.power((np.power(train_data['experience']/10,10)),1/100)

In [ ]:
train_data['current_job_years']=np.power((np.power(train_data['current_job_years'],10)),1/100)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
train_data=train_data.drop(labels=['Id'],axis=1)

In [ ]:
train_data=train_data.drop(labels=['Id','city','Place'],axis=1)

In [ ]:
Y=train_data['risk_flag']

In [ ]:
X=train_data.drop(['risk_flag'],axis=1)

In [ ]:
X=pd.get_dummies(X)
X

          income       age  ...  state_Uttarakhand  state_West_Bengal
0       1.001062  0.863322  ...                  0                  0
1       1.008132  0.912444  ...                  0                  0
2       1.005552  0.959300  ...                  0                  0
3       1.007361  0.914699  ...                  0                  0
4       1.007035  0.927278  ...                  0                  0
...          ...       ...  ...                ...                ...
251995  1.008430  0.919066  ...                  0                  1
251996  1.004189  0.873972  ...                  0                  0
251997  1.006054  0.925286  ...                  0                  0
251998  1.007520  0.923254  ...                  0                  0
251999  1.008859  0.964961  ...                  0                  0

[252000 rows x 409 columns]

In [ ]:
scale=MinMaxScaler()
scaled=scale.fit_transform(X)
scaled

array([[0.70089278, 0.0645066 , 0.82719733, ..., 0.        , 0.        ,
        0.        ],
       [0.95907192, 0.46980139, 0.93303299, ..., 0.        , 0.        ,
        0.        ],
       [0.86487068, 0.85640607, 0.85133992, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.8832065 , 0.57575896, 0.90034054, ..., 0.        , 0.        ,
        0.        ],
       [0.93671226, 0.55899783, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.98561769, 0.90311584, 0.98387946, ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
X=pd.DataFrame(data=scaled,columns=X.columns)
X

          income       age  ...  state_Uttarakhand  state_West_Bengal
0       0.700893  0.064507  ...                0.0                0.0
1       0.959072  0.469801  ...                0.0                0.0
2       0.864871  0.856406  ...                0.0                0.0
3       0.930931  0.488414  ...                0.0                0.0
4       0.918995  0.592195  ...                0.0                0.0
...          ...       ...  ...                ...                ...
251995  0.969945  0.524445  ...                0.0                1.0
251996  0.815086  0.152375  ...                0.0                0.0
251997  0.883207  0.575759  ...                0.0                0.0
251998  0.936712  0.558998  ...                0.0                0.0
251999  0.985618  0.903116  ...                0.0                0.0

[252000 rows x 409 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_val,Y_train,Y_val=train_test_split(X,Y,test_size=0.45,random_state=10,stratify=Y)

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
test_data

          id   income  ...  current_job_years  current_house_years
0          1  7393090  ...                  4                   13
1          2  1215004  ...                  5                   10
2          3  8901342  ...                  9                   14
3          4  1944421  ...                  3                   12
4          5    13429  ...                 13                   11
...      ...      ...  ...                ...                  ...
27995  27996  9955481  ...                  5                   10
27996  27997  2917765  ...                  9                   14
27997  27998  8082415  ...                  4                   13
27998  27999  9474180  ...                 13                   14
27999  28000  9250350  ...                  4                   10

[28000 rows x 12 columns]

In [ ]:
test_data['state'].replace('Andhra Pradesh','Andhra_Pradesh',inplace=True)
test_data['state'].replace('West Bengal','West_Bengal',inplace=True)
test_data['state'].replace('Tamil Nadu','Tamil_Nadu',inplace=True)
test_data['state'].replace('Madhya Pradesh','Madhya_Pradesh',inplace=True)
test_data['state'].replace('Jammu and Kashmir','Jammu_and_Kashmir',inplace=True)
test_data['state'].replace('Himachal Pradesh','Himachal_Pradesh',inplace=True)

In [ ]:
test_data['state'].replace('Uttar_Pradesh[5]','Uttar_Pradesh',inplace=True)
test_data['state'].replace('Uttar Pradesh','Uttar_Pradesh',inplace=True)

In [ ]:
test_data['state'].value_counts()

Uttar_Pradesh        3186
Andhra_Pradesh       2957
Maharashtra          2830
West_Bengal          2593
Bihar                2300
Tamil_Nadu           1926
Madhya_Pradesh       1559
Karnataka            1279
Gujarat              1263
Rajasthan            1041
Jharkhand             970
Haryana               840
Telangana             835
Assam                 763
Kerala                574
Delhi                 564
Punjab                503
Odisha                490
Chhattisgarh          436
Uttarakhand           197
Jammu_and_Kashmir     196
Puducherry            173
Mizoram               115
Manipur               103
Himachal_Pradesh       86
Tripura                84
Sikkim                 70
Chandigarh             67
Name: state, dtype: int64

In [ ]:
test_data.describe()

                 id        income  ...  current_job_years  current_house_years
count  28000.000000  2.800000e+04  ...       28000.000000         28000.000000
mean   14000.500000  5.029563e+06  ...           6.339286            11.991786
std     8083.048105  2.864938e+06  ...           3.645222             1.397754
min        1.000000  1.031000e+04  ...           0.000000            10.000000
25%     7000.750000  2.545414e+06  ...           3.000000            11.000000
50%    14000.500000  5.046744e+06  ...           6.000000            12.000000
75%    21000.250000  7.474639e+06  ...           9.000000            13.000000
max    28000.000000  9.999814e+06  ...          14.000000            14.000000

[8 rows x 6 columns]

In [ ]:
test_data['Prior experience']=test_data['experience']-test_data['current_job_years']

In [ ]:
id=test_data['id']

In [ ]:
test_data=test_data.drop(labels=['id'],axis=1)

In [ ]:
test_data=test_data.drop(labels=['id','city'],axis=1)

In [ ]:
test_data['income']=np.power((np.power(test_data['income']/1000000,4)),1/1000)
test_data['age']=np.power((np.power(test_data['age']/100,100)),1/1000)
test_data['experience']=np.power((np.power(test_data['experience']/10,10)),1/100)
test_data['current_job_years']=np.power((np.power(test_data['current_job_years'],10)),1/100)

In [ ]:
test_data=pd.get_dummies(test_data)

In [ ]:
test_data

         income       age  ...  state_Uttarakhand  state_West_Bengal
0      1.008034  0.948605  ...                  0                  1
1      1.000779  0.870551  ...                  0                  0
2      1.008783  0.933033  ...                  0                  0
3      1.002663  0.931150  ...                  0                  0
4      0.982906  0.870551  ...                  0                  1
...         ...       ...  ...                ...                ...
27995  1.009235  0.945339  ...                  0                  0
27996  1.004292  0.927278  ...                  0                  0
27997  1.008394  0.867004  ...                  0                  0
27998  1.009035  0.934882  ...                  0                  0
27999  1.008938  0.916906  ...                  0                  0

[28000 rows x 409 columns]

In [ ]:
scale1=MinMaxScaler()
scaled_test=scale1.fit_transform(test_data)

In [ ]:
scaled_test=pd.DataFrame(data=scaled_test,columns=test_data.columns)

In [ ]:
scaled_test

         income       age  ...  state_Uttarakhand  state_West_Bengal
0      0.955504  0.768160  ...                0.0                1.0
1      0.690578  0.124149  ...                0.0                0.0
2      0.982850  0.639682  ...                0.0                0.0
3      0.759378  0.624145  ...                0.0                0.0
4      0.037925  0.124149  ...                0.0                1.0
...         ...       ...  ...                ...                ...
27995  0.999345  0.741215  ...                0.0                0.0
27996  0.818866  0.592195  ...                0.0                0.0
27997  0.968632  0.094887  ...                0.0                0.0
27998  0.992041  0.654942  ...                0.0                0.0
27999  0.988517  0.506622  ...                0.0                0.0

[28000 rows x 409 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier(random_state=42,n_estimators=50,max_depth=250,min_samples_split=4)
model2.fit(X_train,Y_train)
Y_pred2=model2.predict(scaled_test)
pred2=model2.predict(X_val)
roc_auc_score(Y_val,pred2)

0.7382624533334152

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
model6 =  GradientBoostingClassifier(max_depth=,n_estimators=50,min_samples_split=4)
model6.fit(X_train,Y_train)
Y_pred6=model6.predict(scaled_test)
pred6=model6.predict(X_val)
roc_auc_score(Y_val,pred6)

0.7353774433594552

In [ ]:
parameters={
    'n_estimators':[200,400,500]


}

In [ ]:
    'max_depth':[5,8,10,12],
    'min_samples_split':[2,5,10,15],
    'min_samples_leaf':[2,5,8,10]

In [ ]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(estimator=model2,param_grid=parameters)

In [ ]:
grid.fit(X_train,Y_train)

In [ ]:
print(grid.best_score_)
print(grid.best_estimator_)
print(grid.best_params_)

In [ ]:
train_pred=model6.predict(X_train)
roc_auc_score(Y_train,train_pred)

0.8683142633417822

In [ ]:
result2=pd.DataFrame({'id':id,'risk_flag':Y_pred2})

In [ ]:
result2['risk_flag'].value_counts()

0    28000
Name: risk_flag, dtype: int64

In [ ]:
result2.to_csv('UNIV.AI10.csv',index=False)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model3=DecisionTreeClassifier(criterion='entropy')
model3.fit(X_train,Y_train)
pred3=model3.predict(X_val)
Y_pred3=model3.predict(scaled_test)
roc_auc_score(Y_val,pred3)

0.7422012913854691

In [ ]:
train_pred2=model3.predict(X_train)
roc_auc_score(Y_train,train_pred2)

0.8746061637314524

In [ ]:
result3=pd.DataFrame({'id':id,'risk_flag':Y_pred3})

In [ ]:
result3['risk_flag'].value_counts()

0    24318
1     3682
Name: risk_flag, dtype: int64

In [ ]:
result3.to_csv('UNIV.AI9.csv',index=False)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model5=KNeighborsClassifier(n_neighbors=8)
model5.fit(X_train,Y_train)
pred5=model5.predict(X_val)
Y_pred5=model5.predict(scaled_test)
roc_auc_score(Y_val,pred5)

0.6948436448124089

In [ ]:
from keras.models import Sequential
from keras.layers import InputLayer,Dense

In [ ]:
from keras.layers import Dropout

In [ ]:
X_train.shape

(201600, 409)

In [ ]:
input_neurons=X_train.shape[1]
output_neurons=1
NHL_1=400
NHL_2=250
NHL_3=150
NHL_4=75
NHL_5=10

In [ ]:
model=Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=NHL_1,activation='relu'))
model.add(Dense(units=NHL_2,activation='relu'))
model.add(Dense(units=NHL_3,activation='relu'))
model.add(Dense(units=NHL_4,activation='relu'))
model.add(Dense(units=NHL_5,activation='relu'))
model.add(Dense(units=output_neurons,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_30 (Dense)             (None, 400)               164000
_________________________________________________________________
dense_31 (Dense)             (None, 250)               100250
_________________________________________________________________
dense_32 (Dense)             (None, 150)               37650
_________________________________________________________________
dense_33 (Dense)             (None, 75)                11325
_________________________________________________________________
dense_34 (Dense)             (None, 10)                760
_________________________________________________________________
dense_35 (Dense)             (None, 1)                 11
=================================================================
Total params: 313,996
Trainable params: 313,996
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from keras.optimizers import Adam
optimizers=Adam()

In [ ]:
model.compile(loss='binary_crossentropy',optimizer=optimizers,metrics=['accuracy'])

In [ ]:
model_history=model.fit(X_train,Y_train,batch_size=128,epochs=10)

Epoch 1/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1142 - accuracy: 0.9345
Epoch 2/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1145 - accuracy: 0.9347
Epoch 3/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1143 - accuracy: 0.9346
Epoch 4/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1150 - accuracy: 0.9346
Epoch 5/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1136 - accuracy: 0.9351
Epoch 6/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1134 - accuracy: 0.9351
Epoch 7/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1145 - accuracy: 0.9348
Epoch 8/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1145 - accuracy: 0.9346
Epoch 9/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1133 - accuracy: 0.9351
Epoch 10/10
1083/1083 [==============================] - 3s 3ms/step - loss: 0.1136 - accuracy: 0.9352

In [ ]:
Y_pred6=model.predict(scaled_test)
pred6=model.predict(X_val)
roc_auc_score(Y_val,pred6)

0.910184675331511

In [ ]:
Y_pred6=model.predict(scaled_test)
pred6=model.predict(X_val)
roc_auc_score(Y_val,pred6)

0.9135005150132678

In [ ]:
Y_pred6=model.predict(scaled_test)
pred6=model.predict(X_val)
roc_auc_score(Y_val,pred6)

0.9110646018498574

In [ ]:
train_pred6=model.predict(X_train)
roc_auc_score(Y_train,train_pred6)

0.9768912849788921

In [ ]:
train_pred6=model.predict(X_train)
roc_auc_score(Y_train,train_pred6)

0.9774992470195575

In [ ]:
prediction=model.predict_classes(scaled_test)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [ ]:
prediction=prediction.flatten()
prediction.shape

(28000,)

In [ ]:
result5.to_csv('UNIV.AI14.csv',index=False)

In [ ]:
result5=pd.DataFrame({'id':id,'risk_flag':prediction})

In [ ]:
result55=pd.DataFrame({'id':id,'risk_flag':prediction})

In [ ]:
result55['risk_flag'].value_counts()

0    24166
1     3834
Name: risk_flag, dtype: int64

In [ ]:
result5['risk_flag'].value_counts()

0    24551
1     3449
Name: risk_flag, dtype: int64

In [ ]:
import re

In [ ]:
s='Tiger Tigers is national animal'

In [ ]:
p='Tige'
re.findall(p,s)

['Tige', 'Tige']